# Server
CLIENT_SERVICE_PORT=8083
CLIENT_SERVICE_DOCKER_PORT=8084
CLIENT_SERVICE_URL=http://localhost:8083

# JWT (mora biti isti secret kao i u user-service)
JWT_SECRET=your_jwt_secret_here

# Database
CLIENT_SERVICE_DB_HOST=localhost
CLIENT_SERVICE_DB_PORT=5433
CLIENT_SERVICE_DB_NAME=clientdb
CLIENT_SERVICE_DB_USER=postgres
CLIENT_SERVICE_DB_PASSWORD=postgres

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbit
RABBITMQ_PASSWORD=rabbit
NOTIFICATION_QUEUE=notification-service-queue
NOTIFICATION_EXCHANGE=employee.events
NOTIFICATION_ROUTING_KEY=employee.#
